/* dashboard.css */
.mainDashboardContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboardSection {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.dashboardSection:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboardTitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dashboardContent {
    display: flex;
    flex-direction: row;
    /* justify-content: spa; */
    gap: 10px;
}

.dashboardName {
    font-size: 45px;
    font-weight: bolder;
}

.dashboardRows {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboardBalanceRow {
    border-radius: 25px;
    border: 2px solid #047D95;
    margin-top: 10px;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: 0 2px 4px #047D95;
    transition: box-shadow 0.2s;
    display: flex;
    flex-direction: column;
}

.dashboardBalanceLabel {
    font-weight: bold;
    color: #55555594;
}

.dashboardBalanceValue {
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    font-size: xxx-large;
}

.dashboardLabel {
    font-weight: bold;
    color: #555;
}

.dashboardValue {
    color: #333;
}

.balanceBox {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.errorLabel {
    color: red;
    margin-top: 5px;
}

input[type='button'] {
    margin-top: 10px !important;
    padding: 10px 20px !important;
    background-color: #047D95 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    align-self: center !important; /* Center the button */
}

input[type='button']:hover {
    background-color: #047d95b9 !important;
}
 
.chartContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .chartTitle {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .sendMoneyButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sendMoneyButton:hover {
    background-color: #45a049;
  }
  
  .profilePictureContainer {
    position: relative;
    width: 40%;
  }
  
  .amplify-image.profilePicture {
    width: 98px;
    height: 98px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

  
  /* Additional styles for the container to center the image */
  .profilePictureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  