
.nav_container {
   flex-direction: column;
   display: flex;
   align-items: center;
   width: 90%;
}

.admin_nav_container {
   flex-direction: row;
   margin-left: 10%;
   margin-right: 10%;
}

.nav_logo {
   color: var(--first-color);
   transition: color 0.4s;
   font-size: 25px;
   font-family: var(--second-font);
   text-align: center;
   font-weight: bolder;
   text-decoration: none;
}

.nav_logo:hover {
   color: #047d95da;
}

.nav_list_container {
   width: 100%;
   align-items: center;
}

.nav_list {
   width: 100%;
   list-style-type: none;
   border-radius: 1px;
   border-color: black;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-inline-start: 0px;
}

.admin_nav_list {
   list-style-type: none;
   justify-content: space-around;
}

.nav_link {
   font-size: 20px;
   font-weight: bolder;
   color: var(--title-color);
   transition: color 0.4s;
   text-decoration: none;
   margin: 10px;
}

.nav_link:hover {
   color: #047d95da;
   text-decoration: underline;
}

.student_nav_link {
   font-weight: bold;
   color: var(--title-color);
   transition: color 0.4s;
   text-decoration: none;
   margin: 10px;
}

.student_nav_link:hover {
   text-decoration: underline;
   color: #047d95da;
}

.nav-tabs {
   display: flex;
   flex-direction: row;
}

.custom-tabs-item {
   position: relative;
   background-color: var(--amplify-components-tabs-item-background-color);
   box-sizing: border-box;
   color: var(--amplify-components-tabs-item-color);
   font-size: var(--amplify-components-tabs-item-font-size);
   font-weight: var(--amplify-components-tabs-item-font-weight);
   padding: var(--amplify-components-tabs-item-padding-vertical) var(--amplify-components-tabs-item-padding-horizontal);
   text-align: var(--amplify-components-tabs-item-text-align);
   transition: all var(--amplify-components-tabs-item-transition-duration);
   border-color: var(--amplify-components-tabs-item-border-color);
   flex: var(--internal-item-flex);
   margin-block-start: var(--internal-item-margin-start);
   margin-block-end: var(--internal-item-margin-end);
   text-decoration: none;
}

.custom-tabs-item:hover {
   color: var(--amplify-components-tabs-item-hover-color);
   cursor: pointer;
}

.custom-tabs-item--active {
   color: var(--amplify-components-tabs-item-active-color);
   border-color: var(--amplify-components-tabs-item-active-border-color);
   background-color: var(--amplify-components-tabs-item-active-background-color);
   transition-property: none;
}
.custom-tab-item[aria-selected='true']{
   color: var(--amplify-components-tabs-item-active-color);
   border-color: var(--amplify-components-tabs-item-active-border-color);
   background-color: var(--amplify-components-tabs-item-active-background-color);
   transition-property: none;
}

.admin-table-head-cell {
   display: flex;
   justify-content: space-between;
}

.amplify-button.admin-table-button {
   all: unset;
}

.amplify-button.admin-table-button:hover {
   all: unset;
}

.amplify-button.admin-table-button:focus {
   all: unset;
}
