.classroom_body {
    display: flex;
    flex-direction: row;
}

.classroom_tables {
    border: 1px solid black;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.classroom_tables>* {
    flex: 1 1 160px;
}

.table_create{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    height: 100px;
}

.table_create>*:last-child {
    align-self: stretch;
}

.classroom_update_settings {
    border: 1px solid red;
    width: 35%;
}
