.classroom_container {
    background-color: #efefef;
    border-radius: 30px;
    box-shadow: 0 0 10px #00000043;
    padding: 3%;
}

.classroom_body {
    display: flex;
    flex-direction: row;
}

.classroom_tables {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.classroom_tables>* {
    flex: 1 1 160px;
}

.table_create{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    height: 100px;
}

.table_create>*:last-child {
    align-self: stretch;
}

.classroom_update_settings {
    width: 35%;

    border: 1px solid black;
    width: fit-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    padding: 2%;
    margin: 1%;
}
