.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-container {
  text-align: center;
  align-self: center;
}
.button-container {
  margin: 10px 0;
  text-align: center;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #047d95da;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 1px 4px #047D95;
  transition: box-shadow 0.2s;
}

.custom-file-upload:hover {
  background-color: #045f76;
}

.file-name {
  font-size: 12px;
  color: #555;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
  text-align: center;
}

.upload-button {
  background-color: #047d95da;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0 1px 4px #047D95;
  transition: box-shadow 0.2s;
}

.upload-button:hover {
  background-color: #045f76;
}

.upload-success {
  color: green;
  margin-top: 10px;
  font-size: 14px;
}
