
.table_remaining_students {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    padding: 2%;
    margin: 1%;
}

.table_remaining_students_header {
    margin: 1%;
}

.table_remaining_students_body {
    margin: 1%;
}

.remaining_students_list {
    display: flex;
    flex-wrap: wrap;
}